<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CadProjectorViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.UnmanagedMemoryStream" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xaml.Behaviors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.1.0" newVersion="4.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CadProjectorViewer.Properties.Settings>
      <setting name="cl_moncha_path" serializeAs="String">
        <value />
      </setting>
      <setting name="cl_start_blank" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="save_work_folder" serializeAs="String">
        <value>work folder</value>
      </setting>
      <setting name="stg_export_folder" serializeAs="String">
        <value />
      </setting>
      <setting name="stg_last_file_path" serializeAs="String">
        <value />
      </setting>
      <setting name="int_multi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="int_scananchor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="main_formoncha" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="save_qr_path" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="save_base_folder" serializeAs="String">
        <value>base folder</value>
      </setting>
      <setting name="defailt_tesselate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stg_scale_percent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="stg_scale_invert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="anchor_size" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="object_solid" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="stg_show_name" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ether_udp_port" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="stg_selectable_show" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="default_thinkess_percent" serializeAs="String">
        <value>0.01</value>
      </setting>
      <setting name="udp_auto_run" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="app_auto_kill_other_process" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="show_hide_object" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChangeFlag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Flags" serializeAs="String">
        <value>CLEAR&amp;SHOW&amp;ALIGN&amp;PLAY</value>
      </setting>
    </CadProjectorViewer.Properties.Settings>
  </userSettings>
</configuration>
