<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CalcBinding" version="2.5.2" targetFramework="net46" />
  <package id="ControlzEx" version="4.3.1" targetFramework="net46" />
  <package id="DynamicExpresso.Core" version="2.3.1" targetFramework="net46" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net46" />
  <package id="MahApps.Metro" version="2.1.1" targetFramework="net46" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net46" />
  <package id="PropertyTools" version="3.1.0-alpha0041" targetFramework="net46" />
  <package id="PropertyTools.Wpf" version="3.1.0-alpha0041" targetFramework="net46" />
</packages>